body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
}

h3 {
  font-weight: normal;
  color: #AAA;
}

.black {
  color: black;
}

#balance {
  color: rgb(148, 141, 141);
}

#app {
  margin-top: 10%;
}

.hint {
  color: #666;
}
